





body {
    background-color: rgb(17, 54, 57);
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
                'Lucida Grande', 'Lucida Sans Unicode', 
                  Geneva, Verdana, sans-serif;
  }
  
  nav {
    font-size: 1.5vw;
    padding: 2vh 0vw 0vh 0vw;
    background-color: rgb(6, 82, 86);
    height: 6vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
  
  nav a {
    padding: 0vh 9vw 0vh 1vw;
    color: rgb(62, 238, 238);
  }
  
  .h1 {
    margin-top: -3vh;
    padding: 9vh 0vw 3vh 4.5vw;
    font-size: 3.7vw;
    font-weight: 100;
    letter-spacing: 0.01vw;
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(6, 82, 86);
    color: white;
    border-top: 0.1vh solid black;
  }
  
  .rotate {
    font-size: 1.5vw;
    transform: rotate(-90deg);
  }
  
  .grow {
    margin: 0vh 0vw 0vh -2vw;
  }
  
  .normal {
    font-size: 2.5vw;
    padding: 1.5vh 0vw 0vh 0vw;
  }
  
  .welcome {
    margin: -2vh 3vw;
    background-color: rgb(17, 54, 57);
    background-repeat: no-repeat;
    background-position: 6vw 6vh;
    color: rgb(62, 238, 238);
    font-size: 2.2vw;
    font-weight: 100;
  }
  
  .img {
    margin: -5vh 0vw 3vh 0vw;
    padding: 0vh 5vw 0vh 5vw;
    opacity: 95%;
    background: linear-gradient(175deg, rgb(6, 82, 86) 10%, rgb(17, 54, 57) 23%, black 67%);
  }
  
  h2 {
    height: 5vh;
    font-size: 1.5vw;
    font-weight: 200;
    letter-spacing: 0.01vw;
    color: rgb(62, 238, 238);
    margin: 0vh 0vw 0vh 0vw;
    background-color: rgb(17, 54, 57);
    border-bottom: 0.2vh solid white;
  }

  .staff {
    padding: 0vh 3vw 0vh 3vw;
    color: white;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5vh 3vw 0vh 3vw;
    color: white;
  }
  
  footer iframe {
    padding: 5vh 0vw 5vh 0vw;
    width:55vw;
    height:30vh;
    border:0;
  }


